/* Universal tags */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NEXONLv1Gothic';
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 62.5%;
  font-size: calc(0.35vw + 8.74px);
}
body {
  font-size: 1.5rem;
  font-weight: 700;
}
