.content_title {
  font-size: 5rem;
  font-weight: 800;
  border-bottom: 5px solid var(--color-orange);
}
.section_content {
  color: var(--color-white);
  max-width: 80vw;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
.quote {
  font-size: 1rem;
  color: var(--color-dark-white);
}

@media screen and (max-width: 768px) {
  .content_title {
    font-size: 4rem;
  }
}
