/* navbar */
#navbar {
  height: 10rem;
  z-index: 9999;
  font-size: 3vw;
}
.nav_menu{
  font-size: 2rem;
  font-weight: var(--weight-medium);
}
.navbarbw {
  background-color: var(--color-light-black);
}
.nav_items:hover {
  border-bottom: 1px solid var(--color-white);
}

.nav_items_bw:hover {
  border-bottom: 1px solid var(--color-black);
}

@media screen and (max-width: 576px) {
  .nav_menu {
    font-size: 1.4rem;
  }

  